# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.log
*.sqlite3

# Virtual environment
.env
venv/
env/
ENV/
.venv/
.pytest_cache/

# Flask
instance/
*.db

# OS files
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Uploads temporários
static/uploads/
temp/
